<h1>Projekt Nowa Aplikacja</h1>
<h2>Lista funkcjonalności</h2>
<div *ngFor="let feature of features" (click)="loadFeatureDetails(feature._id)">
  <div class="feature" [class.todo]="feature.status === 'TODO'" [class.done]="feature.status === 'DONE'" [class.doing]="feature.status === 'DOING'">
    <div class="name">{{ feature.name }}</div>
    <div class="details">
      <div class="owner"><img class="icon" src="../../assets/user.svg"> <span>{{ feature.owner }}</span></div>
    </div>
  </div>
</div>

<div class="feature-details" [class.show]="featureDetails">
  <button (click)="close()">zamknij</button>
  <h2>{{ featureDetails?.name }}</h2>
  <p>{{ featureDetails?.description }}</p>
  <p>Właściciel: {{ featureDetails?.owner }}</p>
  <p>Status: {{ featureDetails?.status }}</p>

  <h3>Zadania</h3>
  <div *ngIf="featureTasks?.length; else notasks">
    <app-task *ngFor="let task of featureTasks" [task]="task" (reload)="onReload($event)" (edit)="onEdit($event)"></app-task>
  </div>
  <ng-template #notasks>
    Brak zadań
  </ng-template>

  <div class="add-form">
    <h4>{{ newTask._id ? 'Edytuj zadanie' : 'Dodaj zadanie' }}</h4>
    <input type="text" [(ngModel)]="newTask.name" placeholder="Nazwa zadania" class="input"><br>
    <textarea cols="30" rows="10" placeholder="Opis" [(ngModel)]="newTask.description" class="input"></textarea>
    <button class="form" [disabled]="!(newTask.description && newTask.name)" (click)="addTask(featureDetails?._id)">{{ newTask._id ? 'Zapisz' : 'Dodaj' }}</button>
    <button class="form" *ngIf="newTask._id" (click)="reset()">Anuluj</button>
  </div>
</div>
