<h1>Projekt Nowa Aplikacja</h1>
<h2>Lista funkcjonalności</h2>
<div *ngFor="let feature of features" (click)="loadFeatureDetails(feature._id)">
  <div class="feature" [class.todo]="feature.status === 'TODO'" [class.done]="feature.status === 'DONE'" [class.doing]="feature.status === 'DOING'">
    <div class="name">{{ feature.name }}</div>
    <div class="details">
      <div class="owner"><img class="icon" src="../../assets/user.svg"> <span>{{ feature.owner }}</span></div>
    </div>
  </div>
</div>

<div class="feature-details" [class.show]="featureDetails">
  <button>zamknij</button>
  <h2>{{ featureDetails?.name }}</h2>
  <p>{{ featureDetails?.description }}</p>

  <div *ngIf="featureTasks?.length; else notasks">
    <div *ngFor="let task of featureTasks" class="task">
      <div class="circle">></div><span>{{ task.name }}</span>
    </div>
  </div>
  <ng-template #notasks>
    Brak zadań
  </ng-template>

</div>
